/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .navbar a.contact-btn {
        margin-top: 0;
    }
    a.cutout-btn {
        padding: .6rem 1.5rem .6rem 2rem;
    }

    .logo-top img {
        width: 16rem;
    }
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* change this to 'object-position: center' for other images */
        /* object-position: 50% */
    }

    .hero {
        height: fit-content;
    }
    .hero .hero-cta {
        margin-bottom: 4rem;
    }
    .hero-sub p {
        margin-bottom: 0;
    }
}