/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

    .nav-outer {
        background-color: #ffffff;
    }
    .nav-outer .container-fluid {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
}
    
    #main-nav .nav-item {
        border: none;
        padding: .75rem 1rem;
        margin-left: 1rem;
        text-align: center;
        width: fit-content;
    }
    #main-nav .nav-item a {
        color: var(--black);
    }
    #main-nav .nav-item.active {
        background-color: unset;
        border-bottom: 2px solid var(--green);
        color: var(--green);
    }
    #main-nav .nav-item.active a {
        color: var(--light);
    }
    #main-nav .nav-item:last-of-type {
        padding-right: 0;
    }

    #main-nav .navbar-nav {
        /* width: 20rem; */
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: .25rem;
    }

    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 5rem;
    }

    .hero .hero-sub p {
        font-size: 1.25rem;
        font-weight: 400;
    }
    .section-title h2 {
        font-size: 4rem;
    }
}
        